{% load static %}

{% load webpack_loader static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Medication Reconciliation{% endblock title %}</title>
    <!-- <script src='{% static "medrec_v2/js/bootstrap.min.js" %}'></script>
    <script src='{% static "medrec_v2/js/jquery-3.6.0.min.js" %}'></script>
    <link rel="stylesheet" type="text/css" href='{% static "medrec_v2/css/bootstrap.min.css" %}'> -->

  
    {% stylesheet_pack 'app' %}
    {% javascript_pack 'app' 'app2' attrs='charset="UTF-8"' %}

    {% block style %}
    {% endblock style %}
</head>

<body>
  
    {% block header %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="display-2">Base</h1>
        </div>
    </div>
    {% endblock header %}

    {% block content %}
    
    {% endblock content %}


    {% block javascript %}

    {% endblock javascript %}


</body>


</html>