{% extends 'medrec_v2/base.html' %}



{% block header %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="display-2">Medication Reconciliation</h1>
        </div>
    </div>
</div>
{% endblock header %}




{% block content %}
<div class="container-fluid">
    <form id="med_input_form">
        <div class="form-group" >
            {% csrf_token %}
            <label for="{{form.input_meds.id_for_label}}">{{form.input_meds.label}}</label>
            {{form.input_meds}}
        </div>
        <button type="submit" class="btn btn-primary">Reconcile Meds</button> 
    </form>
</div>

<div><a href="#" id='test' data-toggle='popover' >Popover test</a></div>
<!-- data-bs-trigger="hover" data-bs-html="true" title="Successful Popover" data-bs-content="This is some <b>content</b>"   -->
<div>
    <table class="table">
        <thead class="thead">
            <tr>
                <th scope="col">Medication</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><a href="http://127.0.0.1:8000/meds/581/" target="_blank" data-toggle="popover" data-bs-html = "true" data-bs-trigger = "hover" data-bs-placement="top" title="Glucophage (METFORMIN)" data-bs-content="Pronunciation: met-FOR-min<br>Treats: Diabetes<br>">Glucophage (METFORMIN)</a></th>
            </tr>
        </tbody>
    </table>
</div>

<div class="container m-3">
    <div class="row">
        <div class="col-md">
            <table class="table table-hover table-fixed">
                <thead class="thead-light">
                  <tr> 
                    <th scope="col" >Medication</th>
                    <th scope="col" >Dose</th>
                    <th scope="col" >Instructions</th>
                    <th scope="col">Common Uses</th>
                  </tr>
                </thead>
                <tbody id="med_output">
                </tbody>
              </table>
        </div>
    </div>
    
</div>

<div id="multi-med-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="multi-modal-title"> Multiple Medications Found!</h4>
                    <button type="button" class="close" data-dismiss="modal" data-target="#multi-med-modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid" >
                    <form>
                        <div class="row">
                            <div class = "col-">
                            <div class="input_group" id="multi-modal_form"></div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-primary" id="multi-submit-btn">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#multi-med-modal">close</button>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="modal-footer">
        </div>
    </div>
</div>

<div id="no-med-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="no-modal-title"> No Medications Found!</h4>
                <button type="button" class="close" data-dismiss="modal" data-target="#no-med-modal">&times;</button>
            </div>
            <div class="modal-body" >
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col">
                            <h3 id="no-modal-prompt">Please select the correct medication from the database</h3>
                        </div>
                    </div>
                <form autocomplete="off">
                    <div class="row">
                        <div class = "col-">
                        <div class="input_group" id="no-modal-form">
                            <div class="autocomplete">
                                <input type="text" id="no-modal-autocomplete" name="no-modal-autocomplete" placeholder="Select the correct medication">
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="no-submit-btn">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#no-med-modal">close</button>
            </div>
        </div>
    </div>
</div>


<div hidden="true">

</div>
<script>
    console.log('MedInput page loaded');

    /*------------med_urls Dictionary---------------------*/
    med_urls = {}
    url_path = '{{ request.build_absolute_uri }}'
    {% for med in med_set %}
        var abs_url = '{{med.get_absolute_url}}'
        abs_url = abs_url.slice(1)
        med_urls[{{med.pk}}] = url_path+abs_url
        
    {% endfor %}
    // var med_urls = JSON.parse("{{med_urls|escapejs}}")



    /*------------AJAX FUNCTION---------------------*/
    $("#med_input_form").submit(function(event){
        console.log('Med Input Form Submitted');
        event.preventDefault();

        var serializedData = $(this).serialize();
        $.ajax({
            type: "POST",
            url: '{% url "medrec_v2:post_medrec" %}',
            data: serializedData,
            success: function(response) {
                $('#med_output').empty();
                prevMedList = []
                var med_ajax = JSON.parse(response["med_output"]);
                line_no = 0
                med_ajax.line.forEach(line => {
                    console.log(line)
                    line_no += 1
                    input_text = line[0]
                    med_list = line[1]
                    dose = line[2]
                    sig = line[3]
                    $('#med_output').append("<tr id='output_"+line_no+"'></tr>");            
                    if (med_list.length == 0) {
                        
                        $("#no-med-modal").modal("show");
                        console.log("no-med-modal shown")
                        $("#multi-submit-btn").click( () => { 

                        });

                        
                    } else if (med_list.length > 1){
                        input_name = multi_modal_builder(line);
                        $("#multi-med-modal").modal('show');
                        //----------  WAIT FOR $("#multi-submit-btn").click() HERE!! -----------//
                        $("#multi-submit-btn").click( () => { 
                            radio_id = $("input[name='" + input_name + "']:checked").val()
                            for (i = 1; i < med_list.length; i++) { 
                                if (med_list[i].id == radio_id) {
                                    radio_med = med_list[i];
                                    break;
                                }
                            };
                            radio_html_name = html_builder(radio_med)
                            $('#output_'+line_no).append("<tr><th scope='row'>"+radio_html_name+"</th><td>"+dose+"</td><td>"+ sig+ "</td><td>"+radio_med.med_commonuses+ "</td></tr>");
                            $("#multi-med-modal").modal('hide');
                            prevMedList.append([radio_id,dose]);
                        })
                    } else {
                        for (i in prevMedList) {
                            if (med_list[0].id == prevMedList[0]){
                                prev="true";
                                break;
                        }}; 
                        if (prev=="true"){continue};
                        html_name = html_builder(med_list[0]);          
                        // console.log(html_name);
                        $('#output_'+line_no+'').append("<th scope='row'>"+html_name+"</th> <td>"+dose+"</td> <td>"+ sig+ "</td> <td>"+med_list[0].med_commonuses+ "</td>");
                        prevMedList.append([radio_id,dose]);
                    }
                })
            }
        })
    });


    function prev_med_match(new_med,reset){
        
    };

    /*<------------Build title and body for Modal form----------->
    send to form to select correct medicaiton*/
    function multi_modal_builder(line) {
            $("#multi-med-modal_form").empty()

            input_text = line[0]
            med_list = line[1]
            $("#multi-modal-title").html('Multiple medications found for "'+input_text+'"!'); //set modal title to line string where multiple medications found

            form_lines=[]
            for (i = 0; i < med_list.length; i++) { 
                input_type = "radio";
                input_id = input_type +"_"+med_list[i].id;
                input_name = input_type+'-'+ input_text.replace(' ', '-');
                $("#multi-modal_form").append(`
                        <div class="form-check">
                            <input class="form-check-input" type="`+input_type+`" name="`+input_name+`" id="`+input_id+`" value="`+med_list[i].id+`">
                            <label class="form-check-label" for="`+input_id+`">`+med_list[i].display_name+`</label>
                        </div>`);
            };
            return input_name;     
        };

        function no_modal_builder(line) {
            $("#no-med-modal_form").empty()

            input_text = line[0]
            med_list = line[1]
            $("#no-modal-title").html('No medications found for "'+input_text+'"!'); //set modal title to line string where multiple medications found

            form_lines=[]
            for (i = 0; i < med_list.length; i++) { 
                input_type = "radio";
                input_id = input_type +"_"+med_list[i].id;
                input_name = input_type+'-'+ input_text.replace(' ', '-');
                $("no-modal-form").append(`
                        <div class="form-check">
                            <input class="form-check-input" type="`+input_type+`" name="`+input_name+`" id="`+input_id+`" value="`+med_list[i].id+`">
                            <label class="form-check-label" for="`+input_id+`">`+med_list[i].display_name+`</label>
                        </div>`);
            };
            return input_name;     
        };

    /*------------URL Getter function-------------
    gets url of medication based on pk  */
    function url_getter(med_pk){
        for (med_url_key in Object.keys(med_urls)) {
            if (med_pk == med_url_key) { break; }
        }
        match_url = med_urls[med_url_key];
        return match_url;
    };


/*<-------------------get medication by pk--------------------->
returns medication object when pk given*/
    function get_med_by_pk(med_pk){
        {% for med in med_set %}
            if ( {{med.pk}} == med_pk) {
                med = '{{med}}';
                med.display_name = '{{med.display_name}}';
            }
        {% endfor %}
        return med
        }

    // }
    /*<-----------Generate HTML list item---------------->
    generate hyperlink for medication name*/
    function html_builder(med, href_target="_blank"){
        med_url = url_getter(med.id);
   
        pover_content = "";
        if (med.med_pronun != '') {
            pover_content += "<b>Pronunciation: </b>" + med.med_pronun +"</br>";
        };
        if (med.med_commonuses != '') {
            pover_content += "<b>Used For: </b>  " + med.med_commonuses;
        } ;
        pover_content += "</table>";
        html_name = 
            '<a href="'+med_url+'" '+
            'target="'+href_target+ '" '+
            'data-toggle="popover" '+
            'title="'+ med.display_name+ '" '+
            'data-bs-content="'+pover_content+'"'+
            '>'+med.display_name+'</a>';
        return html_name
    }

//<!---Get value from radio buttons-->
    function radio_val_getter(radio_name){
  
            var radioValue = $("input[name='"+radio_name+"']:checked").val();
            if(radioValue){
                return radioValue;
            } else {
                alert("Please select a value");
            }

        }

    var popOverSettings = {
        // "data-toggle":"popover",
        // selector: '#test', //Sepcify the selector here
        trigger:"hover",
        selector: "[data-toggle='popover']",
        html:true,
        placement:"top",
        };


    $(document).ready(function(){
        $("body").popover(popOverSettings);
        });


</script>
{% endblock content %}

{% block javascript %}

{% endblock javascript %}


